body {
  background-color: #F8F7F3;
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
}

footer {
  height: 20vh;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  color: #705d5c;
  letter-spacing: 0.1em;
}

label {
  font-weight: 400;
}

#logo-name {
  font-size: 5em;
}

#hero {
  background-color: #F8F7F3;
  /* background-image: url("https://www.transparenttextures.com/patterns/old-wall.png"); */
  /* background-image: url("images/logo.png"); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  height: 50vh;
}

.city-neighborhoods {
  overflow: auto;
  width: 100%;
  height: 700px;
}

.neighborhood-name {
  /* color: #a6a971; */
  font-family: 'Oswald', sans-serif;
  color: #354138;
  font-weight: bold;
  letter-spacing: 0.25em;
}

.btn-warning {
  background-color: #f5c793;
  border-color: #f5c793;
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
  /* background-color: #f5c793; */
  background-color: rgba(238, 162, 75, 0.9);
  border-color: rgba(245, 199, 147,0.5);
}




@media (max-width: 543px) {  
  #logo-name {font-size: 2.5em;}
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  #logo-name {font-size: 3em;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
  #logo-name {font-size: 5em;}
}