body {
  background-color: #F8F7F3;
}

footer {
  height: 25vh;
}

.display-1 {
  color: #705d5c;
}

.jumbotron {
  background-color:#F8F7F3;
  /* background-image: url("images/logo.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

div.card {
  background-color: #eeeeee;
  height: 250px;
  width: 300px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 10px;
}

